<section class="text-gray-400 bg-gray-900 body-font relative">
    <div class="container px-5 py-8 mx-auto">
        <div class="flex flex-col text-center w-full">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Login Now!</h1>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="p-2 w-full">
                <div class="mx-auto my-2">
                    <% if(messages.error) { %>
                        <div>
                            <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
                                <p>
                                    <%= messages.error %>
                                </p>
                            </div>
                        </div>
                        <% } %>
                            <% if(messages.info) { %>
                                <div>
                                    <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4" role="alert">
                                        <p>
                                            <%= messages.info %>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                                    <form method="post" action="/users/login">
                                        <label for="name" class="leading-7 text-sm text-gray-400">Username</label>
                                        <input type="text" id="name" name="name"
                                            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out my-2">
                                        <label for="password" class="leading-7 text-sm text-gray-400">Password</label>
                                        <input type="password" id="password" name="password"
                                            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out my-2">
                </div>
                <div class="p-2 w-full">
                    <button
                        class="flex mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Login</button>
                </div>
                </form>
                <div class="p-2 w-full pt-8 mt-8 border-t border-gray-800 text-center">
                </div>
            </div>
        </div>
    </div>
</section>